<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" th:replace="fragments/adminLayout.html :: layout(~{::title}, ~{}, ~{}, ~{::section})">
<head>
    <title> Gestion des Membres du bureau - USM Olivet TT</title>
</head>
<body>

<section class="uk-section">
    <div class="uk-container">
        <h2 th:text="${member.id} ? 'Modifier le membre' : 'Ajouter un membre'"></h2>
        <form class="uk-form-stacked" method="post" th:action="@{/admin/member/update}" th:object="${member}" enctype="multipart/form-data">
            <input name="id" th:field="*{id}" type="hidden">
            <fieldset class="uk-fieldset">
                <div class="uk-child-width-1-2@s" uk-grid>
                    <div>
                        <label class="uk-form-label" for="firstname">Prénom *</label>
                        <input class="uk-input" type="text" id="firstname" name="firstname" th:field="*{firstname}" required>
                        <span class="uk-text-danger uk-text-small" th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"></span>
                    </div>
                    <div>
                        <label class="uk-form-label" for="lastname">Nom *</label>
                        <input class="uk-input" type="text" id="lastname" name="lastname" th:field="*{lastname}" required>
                        <span class="uk-text-danger uk-text-small" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></span>
                    </div>
                    <div>
                        <label class="uk-form-label" for="role">Rôle *</label>
                        <input class="uk-input" type="text" id="role" name="role" th:field="*{role}" required>
                        <span class="uk-text-danger uk-text-small" th:if="${#fields.hasErrors('role')}" th:errors="*{role}"></span>
                    </div>
                </div>
                <div class="uk-margin-medium">
                    <div uk-form-custom="target: true">
                        <label class="uk-form-label" for="picture">Photo <span uk-icon="icon: cloud-upload"></span></label>
                        <input type="file" name="picture" id="picture">
                        <input class="uk-input uk-form-width-large" type="text" placeholder="Sélectionnez un fichier" disabled>
                    </div>
                </div>
                <button class="uk-button uk-align-right uk-button-default">Envoyer</button>
            </fieldset>
        </form>
    </div>
</section>

</body>
</html>