<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
      th:replace="fragments/clientLayout.html :: head(~{::title}, ~{::link}, ~{}, ~{::main})">
<head>
    <title>Entrainements - USM Olivet TT</title>
    <link rel="stylesheet" href="/css/contact.css">
</head>
<body>

<main>
    <section class="uk-section uk-section-default uk-section-large">
        <div class="uk-container uk-container-xsmall">
            <article>
                <h1 class="uk-heading-small uk-margin-medium-bottom">Conditions Générales</h1>
                <p>
                    Les présentes Conditions Générales ont pour objet de définir les modalités de mise à disposition
                    des services du site olivet-tt.fr, ci-après nommé « le Service » et les conditions d'utilisation
                    du Service par l'Utilisateur.
                </p>
                <p>
                    Tout accès et/ou Utilisation du site olivet-tt.fr suppose l'acceptation et le respect
                    de l'ensemble des termes des présentes Conditions et leur acceptation inconditionnelle.
                    Elles constituent donc un contrat entre le Service et l'Utilisateur.
                </p>
                <p>
                    Dans le cas où l'Utilisateur ne souhaite pas accepter tout ou partie des présentes
                    conditions générales, il lui est demandé de renoncer à tout usage du Service.
                </p>
                <h2>1. Mentions Légales</h2>
                <p>
                    L’édition et la direction de la publication du site https://olivet-tt.fr/ est assurée
                    par Quentin Liger.<br>
                    Adresse e-mail : qliger.dev@gmail.com.<br>
                </p>
                <p>
                    L'hébergeur du site https://olivet-tt.fr/ est l'association USM Olivet TT, dont le siège social
                    est situé au 199 Rue des Cireries, 45160 Olivet.<br>
                    Adresse e-mail : usmo.tennisdetable@wanadoo.fr<br>
                    Téléphone : 02 38 66 86 88
                </p>
                <h2>2. Accès au site</h2>
                <p>
                    Le site est accessible gratuitement en tout lieu à tout Utilisateur ayant un accès à Internet.
                    Tous les frais supportés par l'Utilisateur pour accéder au service
                    (matériel informatique, logiciels, connexion Internet, etc.) sont à sa charge.
                </p>
                <h2>3. Collect de données</h2>
                <p>
                    Le site est exempté de déclaration à la Commission Nationale Informatique et Libertés (CNIL)
                    dans la mesure où il ne collecte aucune donnée concernant les Utilisateurs.
                </p>
                <h2>4. Propriété Intellectuelle</h2>
                <p>
                    Les marques, logos, signes ainsi que tous les contenus du site (textes, images, son…)
                    font l'objet d'une protection par le Code de la propriété intellectuelle et plus
                    particulièrement par le droit d'auteur.
                </p>
                <p>
                    L'Utilisateur doit solliciter l'autorisation préalable du site pour toute reproduction,
                    publication, copie des différents contenus. Il s'engage à une utilisation des contenus
                    du site dans un cadre strictement privé, toute utilisation à des fins commerciales et
                    publicitaires est strictement interdite.
                </p>
                <p>
                    Toute représentation totale ou partielle de ce site par quelque procédé que ce soit, sans
                    l’autorisation expresse de l’exploitant du site Internet constituerait une contrefaçon
                    sanctionnée par l’article L 335-2 et suivants du Code de la propriété intellectuelle.
                </p>
                <p>
                    Il est rappelé conformément à l’article L122-5 du Code de propriété intellectuelle
                    que l’Utilisateur qui reproduit, copie ou publie le contenu protégé doit citer l’auteur et sa source.
                </p>
                <h2>5. Responsabilité</h2>
                <p>
                    Les sources des informations diffusées sur le site https://olivet-tt.fr/ sont réputées fiables
                    mais le site ne garantit pas qu’il soit exempt de défauts, d’erreurs ou d’omissions.
                </p>
                <p>
                    Les informations communiquées sont présentées à titre indicatif et général sans valeur
                    contractuelle. Malgré des mises à jour régulières, le site https://olivet-tt.fr/ ne peut
                    être tenu responsable de la modification des dispositions administratives et juridiques
                    survenant après la publication. De même, le site ne peut être tenue responsable de l’utilisation
                    et de l’interprétation de l’information contenue dans ce site.
                </p>
                <p>
                    Le site https://olivet-tt.fr/ ne peut être tenu pour responsable d’éventuels virus qui pourraient
                    infecter l’ordinateur ou tout matériel informatique de l’Internaute, suite à une utilisation,
                    à l’accès, ou au téléchargement provenant de ce site.
                </p>
                <p>
                    La responsabilité du site ne peut être engagée en cas de force majeure ou du fait imprévisible
                    et insurmontable d'un tiers.
                </p>
                <h2>6. Liens Hypertextes</h2>
                <p>
                    Des liens hypertextes peuvent être présents sur le site. L’Utilisateur est informé qu’en cliquant
                    sur ces liens, il sortira du site https://olivet-tt.fr/. Ce dernier n’a pas de contrôle sur les
                    pages web sur lesquelles aboutissent ces liens et ne saurait, en aucun cas, être responsable de
                    leur contenu.
                </p>
                <h2>7. Droit applicable et juridiction compétente</h2>
                <p>
                    La législation française s'applique au présent contrat. En cas d'absence de résolution amiable
                    d'un litige né entre les parties, les tribunaux français seront seuls compétents pour en connaître.
                </p>
                <p>
                    Pour toute question relative à l’application des présentes CGU, vous pouvez joindre l’éditeur
                    aux coordonnées inscrites à l’ARTICLE 1.
                </p>
            </article>
        </div>
    </section>
</main>

</body>
</html>