<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
      th:replace="fragments/clientLayout.html :: head(~{::title}, ~{::link}, ~{}, ~{::main})">
<head>
    <title>Partenaires - USM Olivet TT</title>
    <link rel="stylesheet" href="/css/partners.css">
</head>
<body>

<main>
    <section class="uk-section uk-section-default uk-section-large">
        <div class="uk-container uk-container-large">
            <h2 class="uk-heading-small uk-text-center uk-margin-large-bottom">Nos Partenaires</h2>
            <div class="divSponsor">
                <a class="cadreImg uk-flex uk-flex-center uk-flex-middle" th:each="sponsor,iter : ${sponsors}" th:href="${sponsor.siteUrl}" target="_blank">
                    <img th:if="${iter.index % 8 == 0 || iter.index % 8 == 2 || iter.index % 8 == 5 || iter.index % 8 == 7}"
                         th:src="${sponsor.picturePath}"
                         th:alt="${sponsor.name}"
                         class="imgSponsor"/>
                    <img th:if="${iter.index % 8 == 1 || iter.index % 8 == 3 || iter.index % 8 == 4 || iter.index % 8 == 6}"
                         th:src="${sponsor.picturePathBis}"
                         th:alt="${sponsor.name}"
                         class="imgSponsor"/>
                </a>
            </div>
        </div>
    </section>
</main>

</body>
</html>