<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
      th:replace="fragments/clientLayout.html :: head(~{::title}, ~{::link}, ~{}, ~{::main})">
<head>
    <title>Partenaires - USM Olivet TT</title>
    <link rel="stylesheet" href="/css/partners.css">
</head>
<body>

<main>
    <section class="uk-section uk-section-default uk-section-medium">
        <div class="uk-container uk-container-large">
            <h2 class="uk-heading-small uk-heading-bullet" uk-scrollspy="cls: uk-animation-slide-bottom-small">Nos Partenaires</h2>
            <div class="divSponsor uk-margin-large">
                <a class="cadreImg uk-flex uk-flex-center uk-flex-middle" th:each="sponsor,iter : ${sponsors}" th:href="${sponsor.siteUrl}" target="_blank">
                    <img th:src="${sponsor.picturePathBis}"
                         th:alt="${sponsor.name}"
                         class="imgSponsor"/>
                </a>
            </div>
        </div>
    </section>
</main>

</body>
</html>