<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="fr">
    <head th:fragment="head(title, links, scripts)">
        <!-- METAS -->
        <meta charset="UTF-8">
        <title th:replace="${title}">USM Olivet TT</title>
        <meta content="Site de l'USM Olivet TT" name="description">
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
        <link rel="icon" href="/img/logo/olivet-tt-black.png">
        <!-- UI KIT -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.3.7/dist/css/uikit.min.css" />
        <!-- FONT FAMILY -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,900&display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:100,400&display=swap">
        <!-- CSS -->
        <link rel="stylesheet" href="/css/global.css">
        <link rel="stylesheet" href="/css/layout.css">
        <th:block th:replace="${links}" />
        <th:block th:replace="${scripts}" />
    </head>

    <body>

        <header th:fragment="top" uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent; top: 500">
            <div class="uk-navbar-container uk-light uk-animation-slide-top">
                <div class="uk-container uk-container-expand">
                    <nav uk-navbar>
                        <div class="uk-navbar-left">
                            <a class="uk-navbar-item uk-logo" href="/">
                                <img class="uk-margin-small-right nav-logo" src="/img/logo/olivet-tt.png" alt="Logo USM Olivet TT" />
                                Olivet TT
                            </a>
                        </div>
                        <div class="uk-navbar-right">
                            <ul class="uk-navbar-nav uk-visible@m">
                                <li class="nav-link uk-active"><a href="/">Accueil</a></li>
                                <li><a class="nav-link" href="/club">Le Club</a></li>
                                <li><a class="nav-link" href="/entrainements">Entrainements</a></li>
                                <li><a class="nav-link" href="/partenaires">Partenaires</a></li>
                                <li><a class="nav-link" href="/contact">Contact</a></li>
                            </ul>
                            <a class="uk-navbar-toggle uk-hidden@m" uk-navbar-toggle-icon uk-toggle="target: #mobile-navbar">
                            </a>
                        </div>
                    </nav>
                </div>
            </div>
            <div id="mobile-navbar" uk-offcanvas="overlay: true">
                <div class="uk-offcanvas-bar">
                    <button class="uk-offcanvas-close" type="button" uk-close></button>
                    <ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
                        <li class="uk-nav-header">General</li>
                        <li class="uk-nav-divider"></li>
                        <li class="uk-active"><a href="/">Accueil</a></li>
                        <li class="uk-parent">
                            <a href="#">Le Club</a>
                            <ul class="uk-nav-sub">
                                <li><a href="/club/bureau">Le Bureau</a></li>
                                <li><a href="/club/historique">Historique</a></li>
                            </ul>
                        </li>
                        <li><a href="/entrainements">Entrainements</a></li>
                        <li><a href="/partenaires">Partenaires</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </header>

        <footer th:fragment="bottom">
            <div class="uk-section secPartners">
                <div class="uk-container uk-container-large uk-light">
                    <h2 class="uk-text-center">Nos Partenaires</h2>
                    <div class="uk-flex uk-flex-center uk-flex-middle uk-flex-wrap" uk-scrollspy="target: > a; cls: uk-animation-fade; delay: 100">
                        <a href="/partenaires" th:each="sponsor : ${sponsors}" class="uk-padding">
                            <img class="logoPartners" th:src="${sponsor.picturePath}" th:alt="|Logo ${sponsor.name}|" />
                        </a>
                    </div>
                </div>
                <hr>
            </div>
            <div class="uk-container uk-container-expand uk-flex uk-flex-middle uk-flex-center">
                <div>
                    <nav uk-navbar>
                        <ul class="uk-navbar-nav uk-flex uk-flex-wrap uk-flex-center">
                            <li><a href="#">Plan du site</a></li>
                            <li><a href="#">Politique de confidentialité</a></li>
                            <li><a href="#">Conditions d'utilisation</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </nav>
                    <p class="uk-text-center">© 2020, USM Olivet TT. Tous droits réservés</p>
                </div>
            </div>
        </footer>

        <div th:fragment="script">
            <!-- UI KIT Scripts -->
            <script src="https://cdn.jsdelivr.net/npm/uikit@3.3.7/dist/js/uikit.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/uikit@3.3.7/dist/js/uikit-icons.min.js"></script>
            <!--/*@thymesVar id="success" type="java"*/-->
            <script th:if="${success}">
                /*<![CDATA[*/
                const message = '[[${success}]]';
                window.onload = function() {
                    UIkit.notification({message: '<span uk-icon=\'icon: check\'></span> ' + message, pos: 'top-right', status: 'success'});
                };
                /*]]>*/
            </script>
            <!--/*@thymesVar id="error" type="java"*/-->
            <script th:if="${error}">
                /*<![CDATA[*/
                const message = '[[${error}]]';
                window.onload = function() {
                    UIkit.notification({message: '<span uk-icon=\'icon: ban\'></span> ' + message, pos: 'top-right', status: 'danger'});
                };
                /*]]>*/
            </script>
        </div>

    </body>

</html>