<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:fragment="head(title, links, scripts, content)">
<head>
    <!-- METAS -->
    <meta charset="UTF-8">
    <title th:replace="${title}">USM Olivet TT</title>
    <!-- Metas -->
    <meta content="USM Olivet Tennis de Table , club situé dans la banlieue Orléanaise (45) Club fondé en 1982. Première équipe évoluant actuellement en Nationale 2." name="description">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="www.olivet-tt.fr" property='og:site_name'>
    <meta content="Olivet TT - Site de la section Tennis de Table d'Olivet" property='og:title'>
    <meta content="USM Olivet Tennis de Table , club situé dans la banlieue Orléanaise (45) Club fondé en 1982. Première équipe évoluant actuellement en Nationale 2." property='og:description'>
    <meta content='https://olivet-tt.fr/uploads/img/backgrounds/banner-tt.webp' property='og:image'>
    <meta content="Logo d'Olivet Tennis de Table" property='og:image:alt'>
    <meta content='website' property='og:type'>
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#ff4652">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#ff4652">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#ff4652">
    <link rel="icon" href="/img/logo/olivet-tt-black.png">
    <!-- UI KIT + FONT AWESOME -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/uikit@latest/dist/css/uikit.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css">
    <!-- FONT FAMILY -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,900&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:100,400,700&display=swap">
    <!-- CSS -->
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/layout.css">
    <!-- LazyLoad Images -->
    <script src="/js/lazysizes.min.js" async=""></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-176076726-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-176076726-1');
    </script>

    <!-- Blocks -->
    <th:block th:replace="${links}" />
    <th:block th:replace="${scripts}" />
</head>

<body>
<header>
    <div class="ol-header-mobile uk-hidden@m">
        <div class="uk-navbar-container">
            <nav uk-navbar>
                <div class="uk-navbar-left">
                    <a class="uk-navbar-toggle" href="#ol-mobile" uk-toggle>
                        <div uk-navbar-toggle-icon></div>
                    </a>
                </div>
                <div class="uk-navbar-center">
                    <a class="uk-navbar-item uk-logo" href="/">
                        <img class="uk-margin-small-right nav-logo" src="/img/logo/olivet-tt-black.png" alt="Logo USM Olivet TT" />
                        <span class="uk-visible@m">Olivet TT</span>
                    </a>
                </div>
            </nav>
        </div>
    </div>
    <div class="ol-header uk-visible@m" uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent uk-light; top: 400">
        <nav id="header" class="uk-navbar-container">
            <div class="uk-container uk-container-expand">
                <nav uk-navbar>
                    <div class="uk-navbar-left">
                        <a class="uk-navbar-item uk-logo" href="/">
                            <img class="uk-margin-small-right nav-logo" src="/img/logo/olivet-tt-black.png" alt="Logo USM Olivet TT" />
                            <img class="uk-logo-inverse uk-margin-small-right nav-logo" src="/img/logo/olivet-tt.png" alt="Logo USM Olivet TT">
                            Olivet TT
                        </a>
                    </div>
                    <div class="uk-navbar-right">
                        <ul class="uk-navbar-nav">
                            <li class="uk-active"><a href="/" class="nav-link">Accueil</a></li>
                            <li><a class="nav-link" th:href="@{/inscription}">Inscription 2020/2021</a></li>
                            <li class="uk-parent">
                                <a class="nav-link">Le Club</a>
                                <div class="uk-navbar-dropdown" uk-dropdown="pos: bottom-justify">
                                    <ul class="uk-nav uk-navbar-dropdown-nav">
                                        <li><a href="/club/bureau">Bureau</a></li>
                                        <li><a href="/club/historique">Historique</a></li>
                                        <li><a href="/club/projet">Projet du Club</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="uk-parent">
                                <a class="nav-link">Sportif</a>
                                <div class="uk-navbar-dropdown" uk-dropdown="pos: bottom-justify">
                                    <ul class="uk-nav uk-navbar-dropdown-nav">
                                        <li><a href="/sportif/entrainements">Entrainements</a></li>
                                        <li><a href="/sportif/stages">Stages</a></li>
                                        <li><a href="/sportif/competitions">Compétitions</a></li>
                                        <li><a href="/sportif/classement">Classement</a></li>
                                        <li><a href="/sportif/equipes">Équipes</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li><a class="nav-link" href="/partenaires">Partenaires</a></li>
                            <li><a class="nav-link" href="/contact">Contact</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </nav>
    </div>
</header>

<main th:replace="${content}">

</main>

<footer>
    <div class="uk-section secPartners">
        <div class="uk-container uk-container-large uk-light">
            <h2 class="uk-heading-small uk-text-center uk-margin-large-bottom">Nos Partenaires</h2>
            <div class="uk-flex uk-flex-center uk-flex-middle uk-flex-wrap">
                <a href="/partenaires" th:each="sponsor : ${sponsors}" class="uk-padding">
                    <img class="logoPartners lazyload" th:data-src="${sponsor.picturePath}" th:alt="|Logo ${sponsor.name}|" />
                </a>
            </div>
        </div>
    </div>
    <hr>
    <div class="uk-container uk-container-expand uk-flex uk-flex-middle uk-flex-center">
        <div class="uk-padding-small copyright">
            <p class="uk-text-center">
                © 2020, USM Olivet TT. Tous droits réservés.
                <a class="uk-margin-small-left" href="/cgu">Conditions d'utilisation</a>
            </p>
        </div>
    </div>
</footer>
<div id="ol-mobile" class="uk-modal-full" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-text-center uk-flex uk-height-viewport">
        <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
        <div class="uk-margin-auto-vertical uk-width-1-1">
            <div class="uk-child-width-1-1 uk-grid-stack" uk-grid>
                <div>
                    <ul class="uk-nav-parent-icon uk-nav-primary uk-nav-center" uk-nav>
                        <li class="uk-active"><a href="/">Accueil</a></li>
                        <li><a class="nav-link" th:href="@{/inscription}">Inscription 2020/2021</a></li>
                        <li class="uk-parent">
                            <a href="#">Club</a>
                            <ul class="uk-nav-sub">
                                <li><a href="/club/bureau">Bureau</a></li>
                                <li><a href="/club/historique">Historique</a></li>
                                <li><a href="/club/projet">Projet du club</a></li>
                            </ul>
                        </li>
                        <li class="uk-parent">
                            <a href="#">Sportif</a>
                            <ul class="uk-nav-sub">
                                <li><a href="/sportif/entrainements">Entrainements</a></li>
                                <li><a href="/sportif/stages">Stages</a></li>
                                <li><a href="/sportif/competitions">Compétitions</a></li>
                                <li><a href="/sportif/classement">Classement</a></li>
                                <li><a href="/sportif/equipes">Équipes</a></li>
                            </ul>
                        </li>
                        <li><a href="/partenaires">Partenaires</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- UI KIT Scripts -->
<script src="https://cdn.jsdelivr.net/npm/uikit@latest/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@latest/dist/js/uikit-icons.min.js"></script>
<!--/*@thymesVar id="success" type="java"*/-->
<script th:if="${success}">
    /*<![CDATA[*/
    const message = '[[${success}]]';
    window.onload = function() {
        UIkit.notification({message: '<span uk-icon=\'icon: check\'></span> ' + message, pos: 'top-right', status: 'success'});
    };
    /*]]>*/
</script>
<!--/*@thymesVar id="error" type="java"*/-->
<script th:if="${error}">
    /*<![CDATA[*/
    const message = '[[${error}]]';
    window.onload = function() {
        UIkit.notification({message: '<span uk-icon=\'icon: ban\'></span> ' + message, pos: 'top-right', status: 'danger'});
    };
    /*]]>*/
</script>

</body>
</html>