<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
    <head th:replace="/fragments/clientLayout.html :: head(~{::title},~{::link}, ~{})">
        <title>USM Olivet TT - Not Found</title>
        <link rel="stylesheet" href="/css/error.css">
    </head>

    <body>
        <header th:replace="/fragments/clientLayout.html :: top"></header>

        <section class="secError uk-light">
            <div class="divError uk-flex uk-flex-column uk-flex-middle uk-flex-center">
                <div class="errorMessage uk-flex uk-flex-column uk-flex-center">
                    <h2>404 (Page Not Found)</h2>
                    <a href="/" class="uk-button uk-button-default uk-button-large">Revenir au site</a>
                </div>
            </div>
        </section>

        <div th:replace="/fragments/clientLayout.html :: script"></div>
    </body>
</html>