<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
      th:replace="fragments/clientLayout.html :: head(~{::title},~{::link}, ~{}, ~{::main})">
<head>
    <title>404 - USM Olivet TT</title>
    <link rel="stylesheet" href="/css/error.css">
</head>
<body>

<main>
    <section class="secError">
        <div class="divError uk-flex uk-flex-column uk-flex-middle uk-flex-center">
            <div class="errorMessage uk-text-center uk-border-rounded">
                <h2>404 Not Found</h2>
                <p>Désolé mais la page que vous recherchiez n'a pas été trouvée.</p>
                <p><a onclick="history.go(-1)">Revenir au site</a></p>
            </div>
        </div>
    </section>
</main>

</body>
</html>