img {
    max-height: 50px;
}

.planningImg {
    max-width: 60%;
    max-height: unset;
    height: auto;
}

.uk-table-hover tbody tr:hover, .uk-table-hover > tr:hover {
    background-color: rgba(255, 70, 82, 0.7);
}

.classementDown {
    color: red;
}

.classementUp {
    color: green;
}

@media only screen and (max-width: 640px) {
    table {
        font-size: 12px;
    }

    .uk-table th {
        font-size: unset;
        padding: 16px 6px;
    }

    .uk-table td {
        padding: 16px 6px;
    }

    .uk-pagination > * > * {
        padding: 5px 7px;
    }
}