.uk-section-default {
    background-color: #F7F8F8;
}

.uk-section .uk-container {
    max-width: 1000px;
}

article {
    background-color: #ffffff;
}

.article-media {
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.article-content {
    position: relative;
    padding: 30px;
    word-wrap: break-word;
    overflow: hidden;
    font-size: 18px;
}

@media only screen and (max-width: 768px) {
    .article-content {
        font-size: 16px;
    }
}

.uk-article-title {
    margin-top: 0;
}

a, a:hover {
    color: #1e87f0;
}