.ol-header {
    background-color: #0A0F1D;
    position: relative;
}

.uk-card {
    border-radius: 8px;
}

.uk-card-media-top, img {
    border-radius: 8px 8px 0 0;
}

.uk-card-badge {
    top: 15px;
    right: 15px;
}

.uk-label {
    background-color: #ff4652;
}

.uk-subnav-pill > .uk-active > a {
    background-color: #ff4652;
}