.uk-card {
    display: flex;
    flex-wrap: wrap;
    border-radius: 8px;
}

.uk-card-media-top, img {
    border-radius: 8px 8px 0 0;
    background-color: #0a0f1d;
}

.uk-card-badge {
    top: 15px;
    right: 15px;
}

.uk-label {
    background-color: #ff4652;
}

.uk-subnav-pill > .uk-active > a {
    background-color: #ff4652;
}

.uk-card-footer {
    width: 100%;
}