@font-face {
    font-family: 'Proxima Nova';
    src: url("/fonts/Proxima-Nova.ttf");
    font-display: swap;
}

@font-face {
    font-family: 'BlackHawk';
    src: url("/fonts/BlackHawk.ttf");
    font-display: swap;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Proxima Nova', sans-serif !important;
}

html {
    scroll-behavior: smooth;
    word-wrap: break-word;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.6;
    color: #555;
    text-rendering: optimizeLegibility;
}

::selection {
    background:#ff3c48;
    color:#fff;
    text-shadow:none
}

a, a:hover {
    text-decoration: none;
    color: inherit;
}

/***** Headings *****/

h1 {
    font-size: 2.5rem;
    font-weight: 900;
    text-transform: uppercase;
}

.uk-heading-bullet::before {
    margin-right: calc(3px + .2em);
    border-left: calc(3px + .1em) solid #ff4652;
}

/***** Header *****/

.ol-header {
    position: relative;
}

.ol-header-overlay {
    position: absolute;
    z-index: 100;
    left: 0;
    right: 0;
}

/***** ALERTS *****/

.alerts {
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 100px;
}

.animations {
    animation-name: fadeInDown, fadeOutUp;
    -webkit-animation-name: fadeInDown, fadeOutUp;

    animation-duration: 1s, 1s;
    -webkit-animation-duration: 1s, 1s;

    animation-delay: 0s, 4s;
    -webkit-animation-delay: 0s, 4s;
}