/*** Section Bannière ***/

.secBanner {
    background-color: #0A0F1D;
}

.divBanner {
    background-image: url("/uploads/img/backgrounds/banner-tt.webp");
    background-position: center center;
    background-color: #0A0F1D;
    background-size: cover;
    height: 100vh;
}

/***** Title *****/

h1 {
    font-family: Raleway, sans-serif !important;
    font-weight: 700;
    font-size: 6rem;
    text-align: center;
    color: white;
}

@media only screen and (max-width: 959px) {
    h1 {
        font-size: 3.5rem;
    }
}

@media only screen and (max-width: 639px) {
    h1 {
        font-size: 2rem;
    }
}



/*** Section Discover ***/

.secDiscover {
    background-image:  url("/img/backgrounds/bg-losange.png");
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.uk-tile {
    transition: all 500ms;
}

.linkDiscover:hover .uk-tile {
    background-color: #0A0F1D;
}

.linkDiscover:hover p {
    color: #fff;
}

/*** Section News ***/

.secNews {
    background-color: #F4F4F4;
}

.uk-label {
    background-color: #ff4652;
}

h2 {
    font-size: 2.5rem;
    font-weight: 900;
    text-transform: uppercase;
}

.uk-button-text::before {
    border-bottom: 1px solid #ff4652;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/*** MEDIA QUERIES ***/

@media only screen and (max-width: 959px) {

    .divBanner {
        height: 400px;
    }

}

@media only screen and (max-width: 639px) {

    .divBanner {
        height: 200px;
    }

    h2 {
        font-size: 2rem;
        text-align: center;
    }

}