/***** HEADER *****/

header {
    position: absolute;
    top: 0;
    z-index: 10;
    width: 100%;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
    background-color: #0A0F1D;
}

.nav-logo {
    height: 64px;
}

.nav-link {
    position: relative;
}

.nav-link::before {
    content: '';
    display: block;
    position: absolute;
    left: 15px;
    right: calc(102% - 15px);
    bottom: 20px;
    height: 1px;
    background-color: currentColor;
    transition: .3s ease-in-out;
    transition-property: right;
}

.nav-link:hover:before {
    right: 15px;
}

.uk-offcanvas-bar {
    background-color: #0A0F1D;
}

footer {
    background-color: #0A0F1D;
}

.secPartners {
    background-color: #0A0F1D;
    padding-bottom: 20px;
}

.logoPartners {
    max-height: 75px;
    max-width: 130px;
}

@media only screen and (max-width: 959px) {

    .logoPartners {
        max-height: 75px;
        max-width: 130px;
    }

}

@media only screen and (max-width: 639px) {

    .uk-navbar-nav > li > a {
        font-size: 0.725rem;
    }

    .logoPartners {
        max-height: 30px;
        max-width: 50px;
    }

}