<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
      th:replace="fragments/clientLayout.html :: head(~{::title},~{::link}, ~{}, ~{::main})">
<head>
    <title>Connexion | USM Olivet TT</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>

<main>
    <section class="uk-flex uk-flex-center uk-flex-middle uk-background-muted">
        <div class="uk-width-medium uk-padding-small">
            <!-- login -->
            <form class="toggle-class" th:action="@{/login}" method="post">
                <h2>Se connecter</h2>
                <fieldset class="uk-fieldset">
                    <div class="uk-margin-small">
                        <div class="uk-inline uk-width-1-1">
                            <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: user"></span>
                            <input class="uk-input uk-border-pill" required placeholder="Utilisateur" type="text" name="username">
                        </div>
                    </div>
                    <div class="uk-margin-small">
                        <div class="uk-inline uk-width-1-1">
                            <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: lock"></span>
                            <input class="uk-input uk-border-pill" required placeholder="Mot de passe" type="password" name="password">
                        </div>
                    </div>
                    <div class="uk-margin-small">
                        <label><input class="uk-checkbox" type="checkbox"> Se souvenir de moi</label>
                    </div>
                    <div class="uk-margin-bottom">
                        <button type="submit" class="uk-button uk-border-pill uk-width-1-1">Connexion</button>
                    </div>
                </fieldset>
            </form>
            <!-- /login -->
            <!-- recover password -->
            <form class="toggle-class" hidden>
                <h2>Réinitialiser</h2>
                <div class="uk-margin-small">
                    <div class="uk-inline uk-width-1-1">
                        <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: mail"></span>
                        <input class="uk-input uk-border-pill" placeholder="E-mail" required type="text">
                    </div>
                </div>
                <div class="uk-margin-bottom">
                    <button type="submit" class="uk-button uk-border-pill uk-width-1-1">Envoyer mot de passe</button>
                </div>
            </form>
            <!-- /recover password -->
            <!-- action buttons -->
            <div>
                <div class="uk-text-center">
                    <a class="uk-link-reset uk-text-small toggle-class" data-uk-toggle="target: .toggle-class ;animation: uk-animation-fade">Mot de passe oublié ?</a>
                    <a class="uk-link-reset uk-text-small toggle-class" data-uk-toggle="target: .toggle-class ;animation: uk-animation-fade" hidden><span data-uk-icon="arrow-left"></span>Revenir à la connexion</a>
                </div>
            </div>
            <!-- action buttons -->
        </div>
    </section>
</main>

</body>
</html>